{% extends 'base.html' %}

{% block body %}
{% load static %}

    <br/> <br/><br/><br/>
  <div class="quote-card">
	  <p class="about"> Dev Quotes is a platform for developers to write, read and express their thoughts about the life as a developer.</p>
	  <p class="about"> For feedback, please feel free to reach out at Twitter, Email or Github</p>
	  <p class="about"> Powered by Django, Auth0, and Bootstrap.</p>
  </div>

<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Dev Quotes</h5>
        <p>The platform for developers to Quote</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="contacts">
    <h5> Contacts </h5>
            <a href="https://twitter.com/MeetGor21">Twiiter </a>
            <a href="https://github.com/Mr-Destructive">Github</a>
            <a href="https://www.linkedin.com/in/meetgor">LinkedIn</a>
  </div>


</footer>
{% endblock %}
